/* выравниваем элементы */
.footer__column-link {
  display: flex;
  align-items: center;
  transition: opacity .6s ease;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}


.footer__column-link:hover {
  opacity: .6;
}
