/* устанавливаем межстрочный отступ, размер шрифта и вес (жирный, полужирный и т.д.) автора */
.footer__author {
  line-height: 15px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 18px 0;
}
