/* задаем минимальные и максимальные значения ширины страницы, центрируем по горизонтали и задаем шрифты */
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

/* сбрасываем отступы */
.margin_zero {
  margin: 0;
}

/* убираем знаки листа (точки), обнуляем отступы */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* назначает серый цвет фона */
.bg_color_gray {
  background-color: #f2f2f2;
}

/* назначает синий цвет фона */
.bg_color_blue {
  background-color: #2f80ed;
}

/* назначает серый цвет фона */
.bg_color_dark_gray {
  background-color: #1f1f1f;
}

/* назначает черный цвет фона */
.bg_color_black {
  background-color: #000000;
}
