/* устанавливаем размеры блока и расположение элементов блока */
.table {
  display: flex;
  width: 1100px;
  margin: 0 0 100px 0;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
  list-style: none;
  padding: 0;
}
