/* задаем межстрочный отступ, размер шрифта и вес (жирный, полужирный и т.д.) брифа */
.two-columns__brief_text_font {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}
