/* устанавливаем межстрочный отступ, размер шрифта и вес (жирный, полужирный и т.д.) загловка */
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px 0;
  color: white;
}
