/* устанавливаем межстрочный отступ, размер шрифта и вес (жирный, полужирный и т.д.) ссылки */
.feynman__link_text_font {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  color: #2f80ed;
}
