/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  margin-top: 80px;
  margin-right: 0;
  width: 200px;
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
