/* устанавливаем межстрочный отступ, размер шрифта и вес (жирный, полужирный и т.д.) текста ячейки */
.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}
